body{
    margin: 0;
    padding: 0;
    background-image: url('../../../assets/imagenes/fondo.png');

}

main{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 3%;
    min-height: 100vh;
    width: 90%;
}

.containerLeft{
    border-radius: 5%;
    width: 30%;
    padding: 4% 3%;
    background: #B3B6B7;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(143,143,143,1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(143,143,143,1);
    box-shadow: 0px 0px 20px 0px rgba(143,143,143,1);
}

.containerLeft h1{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.containerLeft p{
    font-size: 25px;
    text-align: center;
}

.containerLeft img{
    width: 90%;
}

.containerImgButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerImgButton a{
    padding: 3% 5%;
    background: #2874A6;
    color: #fff;
    text-decoration-line: none;
    border-radius: 15px;
    font-size: 20px;
}

.containerRight{
    display: flex;
    flex-direction: column;
    width: 55%;
}

.containerRight h1{
    font-weight: 600;
    font-size: 40px;
}

.containerRight .cartas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:  2% 1%;
}

.carta{
    background-color: #1f81cd;
    border-radius: 8px;
    display: flex;
    padding: 3% 5%;
}

.blue{
    background-color: #ffca76;
}

.carta a{
    font-size: 35px;
    font-weight: 600;
    text-decoration-line: none;
    color: #17202A;
}

.carta p{
    font-size: 20px;
}


.carta img{
    width: 100%;
    max-width: 170px;
}

@media (max-width: 1250px) {
    main{
        flex-direction: column;
        width: 100%;
    }

    .containerLeft{
        width: 60%;
    }

    .containerRight{
        width: 80%;
    }
}