<link rel="stylesheet" href="nabvar.component.css">
<aside class="sidebar">
    <div class="logo">
        <img src="../../assets/imagenes/DMN.png" alt="logo">
    </div>
    <ul class="links">
        <li>
            <span class="material-symbols-outlined"><i class="fa-solid fa-house" ></i></span>
            <a href="#">Inicio</a>
        </li>
        <li>
            <span class="material-symbols-outlined"><i class="fa-solid fa-earth-americas"></i></span>
            <a href="#">Viajes</a>
        </li>
        <li>
            <span class="material-symbols-outlined"><i class="fa-solid fa-circle-exclamation"></i></span>
            <a href="#">Acerca de</a>
        </li>
        <hr>
        <li>
            <span class="material-symbols-outlined"><i class="fa-solid fa-suitcase"></i></span>
            <a href="#">Unete a <br>nosotros</a>
        </li>
    </ul>
</aside>
