
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #B3B6B7;
    background-position: center;
    background-size: cover;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 5%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #212F3D;
    backdrop-filter: blur(17px);
    --webkit-backdrop-filter: blur(17px);
    border-right: 1px solid rgba(255, 255, 255, 0.7);
    transition: width 0.3s ease;
}

.sidebar:hover {
    width: 200px;
}

.sidebar .logo {
    display: flex;
    align-items: center;
    padding: 25px 10px 15px;
}

.logo img {
    width: 100%;
    max-width: 150px;
    border-radius: 50%;
}

.logo h2 {
    font-size: 1.15rem;
    font-weight: 600;
    margin-left: 10px;
    display: none;
    color: white;
}

.sidebar:hover .logo h2 {
    display: block;
}

.sidebar .links {
    list-style: none;
    margin-top: 70px;
    overflow-y: auto;
    scrollbar-width: none;
    height: calc(100% - 140px);
}

.sidebar .links::-webkit-scrollbar {
    display: none;
}

.links li {
    display: flex;
    border-radius: 4px;
    align-items: center;
    padding: 10px;
}

.links li:hover {
    cursor: pointer;
    background: #00c6fd;
}

.links li span {
    padding: 12px 10px;
}

.links li a {
    padding: 10px;
    color: white;
    display: none;
    font-weight: 500;
    white-space: nowrap;
    text-decoration: none;
}

.sidebar:hover .links li a {
    display: block;
}

.links .logout-link {
    margin-top: 20px;
}

i{
    align-items: end;
    color: white;
    
}

hr{
    margin-top: 150px;
}
