/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Roboto', sans-serif;
}
body,html {
    margin: 0;
    padding: 0;
}
/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #5034C4 white;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: white;
}

*::-webkit-scrollbar-thumb {
    background-color: #0189c7;
    border-radius: 20px;
    border: 3px solid white;
}
.elemento-con-scroll {
    overflow-y: hidden;
}
.boton{
    background-color: #0189c7;
    color: white;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #0189c7;
}
.boton:hover {
    background-color: #00c6fd;
    border: #00c6fd;
}